<h1>Why book takeaways</h1>
<p>
	Books are a great way to learn. Especially the ones with knowledge helpful to improve things around us including our workplace and home. We should be able to implement the learnings and do something different after reading them.
</p> 
<p>
	However many times, we create a plan or a project to do something in future, but then other things take over, we forget and end up doing nothing meaningful.
</p>
<p>
	This is where a collection of key takeaways come handy. They are a summary of what I learnt after reading the book.
</p>
<p>
	Think of these like a cheatsheet. You can quickly skim through it to get the gist of the book. Takeaways're different from an *Introduction* or *Preface* because they focus on key learnings from book chapters.
</p>
<p>
	If you've already read the book, use these as a refresher of key learnings and things you could to apply. If you've not read the book, I recommend reading it, but feel free to use these as a sneak peek to what's provided in the book chapters in detail.
</p>
<p>
	So here goes the book ...
</p>