@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* html, body {
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

path {
  stroke: green;
  fill: none;
  stroke-width: 2px;
}

g.group0 path,
g.group0 circle {
  stroke: red;
  fill: none;
}

g.hidden line,
g.hidden path {
  display: none;
}

g.tick line {
  stroke: blue;
}

g.tick text {
  font-size: 12px;
  fill: purple;
}

rect {
  fill: lightblue;
  stroke: cornflowerblue;
}

circle {
  fill: indianred;
}

text {
  font-family: arial;
  fill: white;
  font-size: 11px;
} */
/* g.legend text {
  font-size: 12;
  font-family: menlo;
  fill: blue;
  text-anchor: start;
  dominant-baseline: text-before-edge;
} */

g.cell text {
  font-family: 'Open Sans', sans-serif;
}
.legendCells {
 font-size: 10px;
}
